[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BCDating"]
	path = BCDating
	url = https://github.com/cran/BCDating
	shallow = true
	registered = true
